@*
@model List<ObjetoEscuelaBase>;
*@
<!--p>Nombre: 
<br>
Id: </p-->

<table class="table table-dark table-hover">
    <thead>
        <th scope="col">Nombre</th>
         <th scope="col">Id</th>
         <th scope="col">Editar</th>
    </thead>
    <tbody>
        @foreach (var objecto in Model)
        {
         <tr>
            <td>@objecto.Nombre</td>
             <td>@objecto.Id</td>
             <td><a href="Edit/@objecto.Id"><button class="btn btn-primary" >Editar </button></a></td>
         </tr>
        }
    </tbody>
</table>
